# Environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Testing & Tooling
.pytest_cache/
.ruff_cache/
.nox/
.coverage
coverage.xml
htmlcov/

# Build / Distribution
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/

# Application Specific
.antigravitycli/
